<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COIMA.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style type="text/css">
    </style>

</head>
<body>

<div style="height:800px;">
    <h2>Collections</h2>
    <ul>
        {{#each movieCollections}}
                <li><p><a href="../MovieCollections">{{name}}</a></p></li>
        {{/each}}
        <li><form action="../MovieCollections" method="post">
            Add Collection:<br>
            <input type="text" name="name">
            <br>
            <input type="submit" value="Submit">
        </form></li>
    </ul>
</div>
<div class="panel col-xs-3">
    {{> MoviesListView}}
</div>
</body>
</html>